body {
text-align: center;
padding: 25px;
background: #161925;
color: rgb(255, 255, 255);
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
}

#header {
text-align: center;
padding: 50px 0px 0px 0px;
margin: auto;
width: 25%;
color: #ffffff;
}

#footer {
color: #ffffff;
padding: 50px 0px 0px 0px;
width: 100%;
height: 150px;
background: #23395B;
}

.footer a, .footer a:visited {
color: #ffffff;
text-decoration: none;
}

#title1 {
  color: #e77373;
  text-decoration: underline;
}